name: Docker Build

on:
  workflow_call:
    inputs:
      image_name:
        description: Name of the final Docker image, not including the registry or tag
        type: string
        required: true
      tag_rules:
        description: Rules to be used to determine the tag for the Docker image. See the readme for https://github.com/docker/metadata-action for more information.
        type: string
        default: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value={{branch}}-{{sha}}-{{date 'YYYYMMDD-HHmmss' tz='America/St_Johns'}},enable={{is_default_branch}}
      dockerfile_path:
        description: Path to the Dockerfile to build.
        type: string
        default: Dockerfile

permissions: {}

jobs:
  docker-build:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      attestations: write # Needed to create attestations
      contents: read # Needed to clone the repository
      id-token: write # Needed to sign attestations
      packages: write # Needed to push to GitHub Container Registry

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false

      - name: Login to target registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          # TODO: Support other registries
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate image metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: metadata
        with:
          images: ghcr.io/${{ inputs.image_name }}
          tags: ${{ inputs.tag_rules }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: push
        with:
          context: .
          file: "${{ inputs.dockerfile_path }}"
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-name: ghcr.io/${{ inputs.image_name }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
