name: Earthly Build

on:
  workflow_call:
    inputs:
      target:
        description: The target to build in the Earthfile
        type: string
        default: +app

permissions: {}

jobs:
  earthly-build:
    name: Build Docker image with Earthly
    runs-on: ubuntu-latest
    permissions:
      contents: read # Needed to clone the repository
      packages: write # Needed to push to GitHub Container Registry

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Earthly
        uses: earthly/actions-setup@43211c7a0eae5344d6d79fb4aaf209c8f8866203 # v1.0.13
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to target registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          # TODO: Support other registries
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push with Earthly
        run: earthly --ci --push "$TARGET"
        env:
          TARGET: ${{ inputs.target }}
