name: Lint workflows
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  workflow_call:

permissions: {}

jobs:
  actionlint:
    name: Actionlint
    runs-on: ubuntu-latest
    permissions:
      contents: read # Needed to clone the repository
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Create actionlint matcher
        run: echo "$MATCHER" > .github/actionlint-matcher.json
        env:
          MATCHER: |
            {
              "problemMatcher": [
                {
                  "owner": "actionlint",
                  "pattern": [
                    {
                      "regexp": "^(?:\\x1b\\[\\d+m)?(.+?)(?:\\x1b\\[\\d+m)*:(?:\\x1b\\[\\d+m)*(\\d+)(?:\\x1b\\[\\d+m)*:(?:\\x1b\\[\\d+m)*(\\d+)(?:\\x1b\\[\\d+m)*: (?:\\x1b\\[\\d+m)*(.+?)(?:\\x1b\\[\\d+m)* \\[(.+?)\\]$",
                      "file": 1,
                      "line": 2,
                      "column": 3,
                      "message": 4,
                      "code": 5
                    }
                  ]
                }
              ]
            }

      - name: Check workflow files
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
        shell: bash

  zizmor:
    name: Zizmor
    runs-on: ubuntu-latest
    permissions:
      actions: read # Needed to read GitHub Actions information
      contents: read # Needed to clone the repository
      security-events: write # Needed to submit scan results to GitHub
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        with:
          persona: pedantic
