name: Lint workflows
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    actionlint:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            with:
                persist-credentials: false
          - name: Check workflow files
            run: |
              echo "::add-matcher::.github/actionlint-matcher.json"
              bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
              ./actionlint -color
            shell: bash
    
    zizmor:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
            - name: Checkout code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  persist-credentials: false
            - name: Install uv
              uses: astral-sh/setup-uv@180f8b44399608a850e1db031fa65c77746566d3 # v5.0.1
            - name: Run zizmor
              run: uvx zizmor --format sarif . > results.sarif
              env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
            - name: Upload SARIF file
              uses: github/codeql-action/upload-sarif@48ab28a6f5dbc2a99bf1e0131198dd8f1df78169 # v3.28.0
              with:
                sarif_file: results.sarif
                category: zizmor

